    /*通用样式*/
    
    body {
        font: 12px "microsoft yahei", Arial, sans-serif;
        color: #666;
        margin: 0;
        padding: 0;
    }
    
    ul,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    d1,
    dd {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    input {
        border: 0;
    }
    
    .lf {
        float: left;
    }
    
    .rt {
        float: right;
    }
    
    .clear {
        clear: both;
    }
    
    img {
        vertical-align: bottom
    }
    
    a {
        color: #666;
        text-decoration: none;
    }
    
    a:hover {
        color: #FF6600;
        text-decoration: underline;
    }
    
    #top_box,
    #top_main,
    #nav,
    #banner,
    #main,
    #foot_box {
        width: 1200px;
        margin: 0 auto;
    }
    
    #top {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #F5F5F5;
        border: 1px solid #FFF;
    }
    
    #top_box>a,
    .dd,
    .yg,
    .phone,
    .ser {
        padding: 0 15px 0 10px;
        background: url(images/jt_down.jpg) no-repeat 95% center;
        border: 1px solid transparent;
        border-bottom: 0;
        display: inline-block;
        height: 26px;
        line-height: 26px;
    }
    
    #top_box>a.al:hover {
        border-color: #ddd;
        background-color: #fff;
        background-image: url(images/jt_up.jpg);
    }
    
    #top_box>a.a2:hover {
        background-color: #ddd;
        background-color: #fff;
        background-image: url(images/jt_up.jpg);
    }
    
    #top_box ul.delu li {
        float: left;
        margin: auto 5px;
    }
    
    .dd:hover {
        background: url(images/jt_up.jpg);
    }
    
    .yg:hover {
        background-image: url(images/jt_up.jpg);
    }
    
    .phone:hover {
        background-image: url(images/jt_up.jpg);
    }
    
    .ser:hover {
        background-image: url(images/jt_up.jpg);
    }
    
    #top_box {
        position: relative;
    }
    
    #top_box a.al {
        position: relative;
        z-index: 80;
    }
    
    #address {
        width: 984px;
        height: 240px;
        border: 1px solid #ddd;
        position: absolute;
        top: 27px;
        left: 0;
        z-index: 50;
        background: #fff;
        padding: 10px;
        display: none;
    }
    /*#top_box>a.al:hover #address{
        display:block;}*/
    
    #address ul.content {
        float: left;
        width: 196px;
        overflow: hidden;
    }
    
    #address ul.content li {
        float: left;
        text-align: left;
        padding: 0 10px;
        width: 60px;
    }
    
    #address ul.tabs {
        overflow: hidden;
    }
    
    #address ul.tabs li {
        float: left;
        text-align: left;
        font-size: 16px;
        padding: 0 10px;
        width: 176px;
        margin-top: 5px;
    }
    
    #address ul.tabs li>a {
        color: #333;
    }
    
    #close {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #676667;
        font-size: 26px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        right: -1px;
        top: -2px;
    }
    
    #address ul:nth-child(4) {
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }
    
    #address ul:nth-child(6) {
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }
    
    ul.tabs li:nth-child(2) {
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }
    
    ul.tabs li:nth-child(4) {
        border: 1px solid #ddd;
        border-top: 0;
        border-bottom: 0;
    }
    /*商家入驻*/
    
    #top_box {
        position: relative;
    }
    
    #top_box a.a2 {
        position: relative;
        z-index: 80;
    }
    
    #address_a {
        width: 160px;
        height: 92px;
        border: 1px solid #ddd;
        position: absolute;
        top: 27px;
        left: 78px;
        z-index: 50;
        background: #fff;
        padding: 10px;
        display: none;
    }
    
    #address_a ul.content_b {
        float: left;
        overflow: hidden;
    }
    
    #address_a ul.content_b li {
        float: left;
        text-align: left;
        padding: 0 10px;
    }
    /*搜索框*/
    
    #top_main {
        padding: 10px 0;
    }
    
    #search_box {
        width: 600px;
        margin: 15px 10px 0 20px;
        float: left;
    }
    
    #search_box div.search {
        width: 600px;
        height: 40px;
        background: #FFC001;
        padding: 3px;
        position: relative;
    }
    
    #search_box div.search input {
        width: 470px;
        height: 40px;
        padding: 0;
        padding-left: 30px;
        outline: none;
        color: #cfcfcf;
        font-size: 14px;
    }
    
    .search span {
        position: absolute;
        top: 10px;
        left: 9px;
    }
    
    #search_box div.search button {
        border: 0;
        width: 90px;
        height: 38px;
        background: #FFC001;
        font-size: 14px;
        color: #363636;
        cursor: pointer;
        padding: 0 20px;
    }
    
    #search_box div.hot_words {
        margin-top: 5px;
        color: #999;
        width: 100%;
        height: 26px;
        overflow: hidden;
    }
    
    #search_box div.hot_words a {
        color: #999;
        margin-left: 5px;
    }
    
    #search_box div.hot_words a:nth-child(1) {
        color: #FF6600
    }
    
    #search_box div.hot_words a:nth-child(2) {
        color: #FF6600
    }
    
    #search_box div.hot_words a:nth-child(3) {
        color: #FF6600
    }
    
    #top_main>pao img {
        margin: 13px 0 0 20px;
    }
    /*配送*/
    
    #foot_box {
        width: 100%;
        background: #F5F5F5;
    }
    
    #wid {
        width: 1211px;
        margin: 0 auto;
    }
    
    #foot_bob {
        margin-top: 10px;
        padding: 10px;
        overflow: hidden;
    }
    
    #foot_boh p {
        float: left;
        width: 47px;
    }